<% content_for :title, "TinkerPal - Log in" %>
<%= tag.div(flash[:alert], class: "text-red-400") if flash[:alert] %>
<div>
  <%= form_with url: session_path do |form| %>
    <div class="mt-2">
      <%= form.label :username, class: "block" %>
      <%= form.text_field :username, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your username", value: params[:username],  class: "bg-gray-100 rounded-md p-1"%><br>
    </div>
    <div class="mt-2">
      <%= form.label :password, class: "block" %>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", class: "bg-gray-100 rounded-md p-1" %><br>
    </div>
    <div class="mt-6 bg-green-400 inline-block p-1 rounded-md cursor-pointer">
      <%= form.submit "Sign in" %>
    </div>
  <% end %>
  <%# <br>
  <%= link_to "Forgot password?", new_password_path %>
  <br>
  <div class="bg-blue-400 p-1 mt-1 inline-block rounded-md">
    <%= link_to "Create an account", register_path %>
  </div>
</div>