<%= form_with(model: task, multipart: true) do |form| %>
  <div class="mt-6">
    <%= form.label :title, class: "block" %>
    <%= form.text_field :title, class: "bg-gray-100 rounded-md p-1" %>
    <p class="text-red-500"><%= task.errors.full_messages_for(:title).first %></p>
  </div>
  <div class="mt-2" >
    <%= form.label :description, class: "block" %>
    <%= form.textarea :description, class: "bg-gray-100 rounded-md p-1" %>
    <p class="text-red-500"><%= task.errors.full_messages_for(:description).first %></p>
  </div>
  <div class="mt-2">
    <%= form.label :images, class: "block" %>
    <%= form.file_field :images, multiple: true, direct_upload: true, accept: "image/png,image/gif,image/jpeg", class: "bg-gray-200 p-1 rounded-md cursor-pointer" %>
  </div>
  <%= form.hidden_field :city_id, value: Current.user.city_id %>
  <%= hidden_field_tag :return_to, request.referer %>
  <small class="text-gray-500">Hold Command (Mac) or Ctrl (Windows) to select multiple images</small>
  <br>
  <div class="mt-6 bg-green-300 inline-block p-1 rounded-md cursor-pointer">
    <%= form.submit %>
  </div>
<% end %>
