<%= turbo_frame_tag task do %>
  <div class="mb-4 p-3 rounded-md border-2 border-gray-300">
    <div class="flex justify-between">
      <p><strong>Title:</strong> <%= truncate(task.title, length: 40) %></p>
      <div class="flex gap-1">
        <i class="bi bi-geo-alt-fill"></i>
        <%= task.city.name %>
      </div>
    </div>
    <p><strong>Posted:</strong> <%= time_ago_in_words(task.created_at) %> ago</p>
    <div class="flex gap-2 align-middle justify-end mt-2">
      <%= link_to "View details", task, data: { turbo_frame: "_top" }, class: "gray-button" %>
      <%= link_to "Edit", edit_task_path(task), data: { turbo_frame: "_top" }, class: "blue-button" if !task.completed %>
      <%= button_to "Delete", task, method: :delete, data: { turbo_confirm: "Are you sure you want to delete this task?" }, class: "red-button" if !task.completed %>
    </div>
  </div>
<% end %>