<% content_for :title, "TinkerPal - Tasks" %>
<div class="md:flex md:justify-between md:gap-30">
  <%# ----------Filters--------- %>
  <div class="flex-2 mb-10">
    <h1 class="font-bold text-2xl border-slate-600 mb-4">Filters</h1>
    <%= form_with url: tasks_path, method: :get do |form| %>
      <%= form.label :city, class: "block font-bold" %>
      <%= form.select :city, ["Any"] + @cities.map { |c| c.name }, { selected: params[:city] }, class: "w-full bg-gray-100 px-2 py-2.5 rounded-md mt-1" %>
      <%= form.label :category, class: "block font-bold mt-4" %>
      <%= form.select :category, ["Any"] + @categories.map { |c| c.name }, { selected: params[:category] }, class: "w-full bg-gray-100 px-2 py-2.5 rounded-md mt-1" %>
      <%= form.label :sort_by, class: "block font-bold mt-4" %>
      <%= form.select :sort_by, ["Newest", "Oldest", "Most offers", "Fewest offers"], { selected: params[:sort_by] }, class: "w-full bg-gray-100 px-2 py-2.5 rounded-md mt-1" %>
      <%= form.submit 'Filter tasks', name: "", data: {turbo_frame: "tasks"}, class: "px-2 py-1.5 inline-block rounded-md text-white bg-blue-400 cursor-pointer font-semibold w-full mt-4" %>
    <% end %>
  </div>
  <%# ----------Tasks--------- %>
  <div class="flex-3 mb-10">
    <h1 class="font-bold text-2xl border-slate-600 mb-4">Tasks</h1>
    <%= turbo_frame_tag "tasks" do %>
      <% if @tasks.count > 0 %>
        <% @tasks.each do |task| %>
          <%= render "task_card", task: task %>
        <% end %>
        <%== pagy_nav(@pagy_tasks) %>
      <% else %>
        <p class="font-bold text-slate-300 text-2xl">
          No tasks matching your search criteria
        </p>
      <% end %>
    <% end %>
  </div>
  <%# ----------Sent offers--------- %>
  <div class="flex-2 mb-10">
    <h1 class="font-bold text-2xl border-slate-600 mb-4">Sent offers</h1>
    <div>
      <%= form_with url: tasks_path, method: :get do |form| %>
        <%= form.label :offer_status, "Status", class: "block font-bold mb-1" %>
        <div class="flex gap-4 items-center">
          <%= form.select :offer_status, ["Any"] + Offer.statuses.map { |key, _| [key.humanize, key] }, { selected: params[:offer_status] }, class: "bg-gray-100 px-2 py-2.5 rounded-md flex-2" %>
          <%= form.submit "Filter offers", data: {turbo_frame: "offers"}, class: "blue-button" %>
        </div>
      <% end %>
    </div>
    <%= turbo_frame_tag "offers" do %>
      <% if @offers.count > 0 %>
        <div class="mt-6">
          <% @offers.each do |offer| %>
            <%= turbo_frame_tag offer do %>
              <%= render "offers/offer_card", offer: offer %>
            <% end %>
          <% end %>
          <br>
          <%== pagy_nav(@pagy_offers) %>
        </div>
      <% else %>
        <p class="font-bold text-slate-300 mt-2">
          <% if params[:offer_status].blank? || params[:offer_status] == "Any" %>
            You haven't sent any offers
          <% else %>
            You don't have any sent offers with status <%= params[:offer_status].humanize %>
          <% end %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
