<% content_for :title, "TinkerPal - Tasks" %>
<div class="flex justify-between gap-30">
  <%# ----------Filters--------- %>
  <div class="flex-2">
    <h1 class="font-bold text-2xl border-slate-600 mb-4">Filters</h1>
    <%= form_with url: tasks_path, method: :get do |form| %>
      <%= form.label :city, "Location", class: "block font-bold" %>
      <%= form.select :city, [["Any", "any"]] + @cities.map { |c| [c.name, c.name.downcase] }, { selected: params[:city] }, class: "w-full bg-gray-100 px-2 py-2.5 rounded-md mt-1" %>
      <%= form.label :sort_by, "Sort by", class: "block font-bold mt-4" %>
      <%= form.select :sort_by, [["Newest", "newest"], ["Oldest", "oldest"]], { selected: params[:sort_by] }, class: "w-full bg-gray-100 px-2 py-2.5 rounded-md mt-1" %>
      <%= form.submit 'Filter tasks', name: "", class: "blue-button mt-4" %>
    <% end %>
  </div>
  <%# ----------Tasks--------- %>
  <div class="flex-3">
    <h1 class="font-bold text-2xl border-slate-600 mb-4">Tasks</h1>
    <% @tasks.each do |task| %>
      <%= render "task_card", task: task %>
    <% end %>
    <%== pagy_nav(@pagy_tasks) %>
  </div>
  <%# ----------Sent offers--------- %>
  <div class="flex-2">
    <h1 class="font-bold text-2xl border-slate-600 mb-4">Sent offers</h1>
    <% if @offers.count > 0 %>
      <% @offers.each do |offer| %>
        <%= turbo_frame_tag offer do %>
          <%= render "offers/offer_card", offer: offer %>
        <% end %>
      <% end %>
      <br>
      <%== pagy_nav(@pagy_offers) %>
    <% else %>
      <p class="font-bold text-slate-300">
        Your sent offers will be displayed here. Currently, you don't have any sent offers.
      </p>
    <% end %>
  </div>
</div>
