<div>
  <p><strong>Title:</strong> <%= @task.title %> </p>
  <p><strong>Desription:</strong> <%= @task.description %> </p>
  <p><strong>Posted at:</strong> <%= @task.created_at.to_fs(:long) %> </p>
  <div class="flex gap-2 align-middle ">
    <%= link_to "Back", profile_path, class: "bg-gray-300 p-1 mt-1 inline-block rounded-md" %>
    <%= link_to "Edit", edit_path(@task), class: "bg-blue-300 p-1 mt-1 inline-block rounded-md" %>
    <%= button_to "Delete", @task, method: :delete, data: { turbo_confirm: "Are u sure?" }, class: "bg-red-300 p-1 mt-1 rounded-md" %>
  </div>
</div>