<div class="mt-4">
  <div class="flex justify-between gap-8">
    <%# ----------------Images----------------- %>
    <div data-controller="carousel" data-carousel-current-index-value="0" data-carousel-total-images-value="<%= @task.images.count %>" class="flex-3">
      <% if @task.images.attached? %>
        <% @task.images.each do |image| %>
          <%= image_tag(image, class: "border-1 border-gray-200 rounded-md h-150 w-full", data: { carousel_target: "image" }) %>
        <% end %>
      <% else %>
        <div class="flex border-2 border-gray-200 rounded-md justify-center items-center text-gray-400 h-150 w-full">
          The user hasn't attached any images for this task.
        </div>
      <% end %>
      <div class="flex justify-around mt-2 bg-red-100">
        <button data-action="carousel#previous" class="bg-red-100">prev</button>
        <button data-action="carousel#next" class="bg-red-100">Next</button>
        <i class="fa-regular fa-image"></i>
      </div>
    </div>
    <%# ----------------Task Details----------------- %>
    <div class="flex-2">
      <h1 class="text-3xl"><%= @task.title %></h1>
      <h2 class="font-bold text-xl mb-2 mt-6">Description</h2>
      <p><%= @task.description %></p>
      <p class="mt-6">
        Posted on <strong><%= @task.created_at.to_fs(:long_ordinal) %></strong> in <strong><%= @task.city.name %></strong>
      </p>
    </div>
  </div>
  <%# ----------------Comments----------------- %>
  <div class="mt-8">
    <h2 class="font-bold text-xl mb-2">Comments</h2>
    <div class="mb-4">
      <%= form_with model: @comment do |form| %>
        <%= form.textarea :text, placeholder: "Ask the poster for more details, or leave a helpful comment here.", class: "bg-gray-100 rounded-md w-full min-h-30 p-2 resize-none overflow-y-auto" %>
        <%= form.hidden_field :task_id, value: @task.id %>
        <%= form.hidden_field :user_id, value: Current.user.id %>
        <div class="flex justify-end mt-2">
          <%= form.submit "Post comment", class: "bg-green-300 p-1 pl-2 pr-2 rounded-md h-fit justify-end" %>
        </div>
      <% end %>
    </div>
    <div class="mb-50">
      <p class="mb-2"><strong><%= @comments.count %></strong> <%= "comment".pluralize(@comments.count) %></p>
      <% @comments.each do |comment| %>
        <%= render "comments/comment_card", comment: comment %>
      <% end %>
    </div>
  </div>
</div>