<div>
  <div class="flex justify-between gap-20">
    <%# ----------------Task Details----------------- %>
    <div class="flex-2">
      <div class="flex justify-between items-center">
        <h1 class="font-bold text-2xl">Task details</h1>
        <% if @task.user != Current.user && !@task.completed %>
          <% if @task.offers.current_user_offers.last == nil || @task.offers.current_user_offers.last.declined? %>
            <%= link_to "Make an offer", new_task_offer_path(@task), class: "bg-blue-400 text-white px-2 py-1 rounded-md" %>
          <% else %>
            <%= link_to "View offer", edit_task_offer_path(@task, @task.offers.current_user_offers.last), class: "gray-button" %>
          <% end %>
        <% elsif @task.completed %>
          <div class="text-green-400 flex gap-2 text-lg">
            <i class="bi bi-check-circle-fill"></i>
            <p class="font-bold">
              Completed</p>
          </div>
        <% end %>
      </div>
      <div class="mt-4">
        <p><strong>Title</strong></p>
        <div class="bg-gray-100 px-1 py-2 rounded-md mt-1">
          <%= @task.title %>
        </div>
      </div>
      <div class="mt-4">
        <p><strong>Description</strong></p>
        <div class="bg-gray-100 px-1 py-2 rounded-md mt-1">
          <%= @task.description %>
        </div>
      </div>
      <div class="mt-4">
        <p><strong>Posted on</strong></p>
        <div class="bg-gray-100 px-1 py-2 rounded-md mt-1">
          <%= @task.created_at.to_fs(:long_ordinal) %>
        </div>
      </div>
      <div class="mt-4">
        <p><strong>Location</strong></p>
        <div class="bg-gray-100 px-1 py-2 rounded-md mt-1">
          <%= @task.city.name %>
        </div>
      </div>
      <div class="mt-4">
        <p><strong>Posted by</strong></p>
        <div class="bg-gray-100 px-1 py-2 rounded-md mt-1">
          <%= @task.user.username %>
        </div>
      </div>
      <div class="mt-4">
        <p><strong>Category</strong></p>
        <div class="bg-gray-100 px-1 py-2 rounded-md mt-1">
          Plumbing
        </div>
      </div>
      <div class="mt-4">
        <p><strong>Offers</strong></p>
        <div class="bg-gray-100 px-1 py-2 rounded-md mt-1">
          <%= @task.offers.count %>
        </div>
      </div>
    </div>
    <%# ----------------Images----------------- %>
    <div class="flex-3">
      <h1 class="font-bold text-2xl">Images</h1>
      <%= render "task_images", task: @task %>
    </div>
  </div>
  <br>
  <%# ----------------Offers----------------- %>
  <% if @task.user == Current.user %>
    <div class="mt-8 mb-50">
      <h1 class="font-bold text-2xl mb-4">Offers</h1>
      <% if @task.offers.any? %>
        <%= turbo_frame_tag "offers" do %>
          <%= render "offers/offers_table", offers: @task.offers %>
        <% end %>
      </div>
    <% else %>
      <p class="mt-4 text-slate-300 font-bold text-xl">There are currently no offers for this task. Please check back later.</p>
    <% end %>
  </div>
<% end %>
</div>
</div>