<div>
  <p><strong>Title:</strong> <%= @task.title %> </p>
  <p><strong>Desription:</strong> <%= @task.description %> </p>
  <p><strong>Posted at:</strong> <%= @task.created_at.to_fs(:long) %> </p>
  <p><strong>Location:</strong> <%= @task.user.city.name %> </p>
  <p><strong>Posted by:</strong> <%= link_to @task.user.username, @task.user == Current.user ? profile_path : @task.user, class: "underline" %> </p>
  <%= link_to "Back", request.referer || tasks_path, class: "bg-gray-200 p-1 mt-1 inline-block rounded-md" %>
</div>
<br>
