<div>
  <div class="flex justify-between gap-20">
    <%# ----------------Task Details----------------- %>
    <div class="flex-2">
      <div class="flex justify-between">
        <h1 class="font-bold text-2xl">Task details</h1>
        <%= link_to "Make an offer", new_task_offer_path(@task), class: "bg-blue-200 px-2 py-1 rounded-md" %>
      </div>
      <div class="mt-4">
        <p><strong>Title</strong></p>
        <div class="bg-gray-100 px-1 py-2 rounded-md mt-1">
          <%= @task.title %>
        </div>
      </div>
      <div class="mt-4">
        <p><strong>Description</strong></p>
        <div class="bg-gray-100 px-1 py-2 rounded-md mt-1">
          <%= @task.description %>
        </div>
      </div>
      <div class="mt-4">
        <p><strong>Posted on</strong></p>
        <div class="bg-gray-100 px-1 py-2 rounded-md mt-1">
          <%= @task.created_at.to_fs(:long_ordinal) %>
        </div>
      </div>
      <div class="mt-4">
        <p><strong>Location</strong></p>
        <div class="bg-gray-100 px-1 py-2 rounded-md mt-1">
          <%= @task.city.name %>
        </div>
      </div>
      <div class="mt-4">
        <p><strong>Posted by</strong></p>
        <div class="bg-gray-100 px-1 py-2 rounded-md mt-1">
          <%= @task.user.username %>
        </div>
      </div>
      <div class="mt-4">
        <p><strong>Category</strong></p>
        <div class="bg-gray-100 px-1 py-2 rounded-md mt-1">
          Plumbing
        </div>
      </div>
    </div>
    <%# ----------------Images----------------- %>
    <div class="flex-3">
      <h1 class="font-bold text-2xl">Images</h1>
      <%= render "task_images", task: @task %>
    </div>
  </div>
</div>