<div class="mt-4">
  <div class="flex justify-between gap-8">
    <%# ----------------Images----------------- %>
    <div data-controller="carousel" data-carousel-current-index-value="0" data-carousel-total-images-value="<%= @task.images.count %>" class="flex-3">
      <% if @task.images.attached? %>
        <% @task.images.each do |image| %>
          <%= image_tag(image, class: "border-1 border-gray-200 rounded-md h-150 w-full", data: { carousel_target: "image" }) %>
        <% end %>
      <% else %>
        <div class="flex border-2 border-gray-200 rounded-md justify-center items-center text-gray-400 h-150 w-full">
          The user hasn't attached any images for this task.
        </div>
      <% end %>
      <%# ----------------Navigation Buttons----------------- %>
      <% if @task.images.any? %>
        <div class="flex justify-center items-center mt-2 gap-8">
          <button data-carousel-target="previousButton" data-action="carousel#previous" class="cursor-pointer bg-blue-200 px-1 rounded-md">
            <i class="bi bi-arrow-left-short text-2xl"></i>
          </button>
          <p data-carousel-target="currentImageParagraph" class="w-20 text-center text-sm">
          </p>
          <button data-carousel-target="nextButton" data-action="carousel#next" class="cursor-pointer bg-blue-200 px-1 rounded-md">
            <i class="bi bi-arrow-right-short text-2xl"></i>
          </button>
        </div>
      <% end %>
    </div>
    <%# ----------------Task Details----------------- %>
    <div class="flex-2">
      <h1 class="text-3xl"><%= @task.title %></h1>
      <h2 class="font-bold text-xl mb-2 mt-6">Description</h2>
      <p><%= @task.description %></p>
      <p class="mt-6">
        Posted on <strong><%= @task.created_at.to_fs(:long_ordinal) %></strong> in <strong><%= @task.city.name %></strong>
      </p>
    </div>
  </div>
  <%# ----------------Comments----------------- %>
  <div class="mt-8">
    <h2 class="font-bold text-xl mb-2">Comments</h2>
    <div class="mb-4">
      <%= render "comment_form", comment: @comment %>
    </div>
    <div class="mb-50">
      <p class="mb-2"><strong><%= @comments.count %></strong> <%= "comment".pluralize(@comments.count) %></p>
      <% @comments.each do |comment| %>
        <%= render "comments/comment_card", comment: comment %>
      <% end %>
    </div>
  </div>
</div>