<div data-edit-profile-target="form" class="flex-2 gap-4 hidden">
  <h1 class="font-bold text-2xl">Profile details</h1>
  <%= form_with(model: user, url: update_profile_path, method: "patch") do |form| %>
    <div class="mt-4">
      <%= form.label :username, class: "block font-bold mb-1" %>
      <%= form.text_field :username, class: "bg-gray-100 rounded-md px-1 py-2 w-full" %>
    </div>
    <div class="mt-4">
      <%= form.label :location, class: "block font-bold mb-1" %>
      <div class="bg-gray-100 rounded-md px-1 py-2">
        <%= form.select :city, cities.map { |c| [c.name, c.name.downcase] }, { selected: user.city.name.downcase }, class: "w-full" %>
      </div>
    </div>
    <div class="mt-4" >
      <%= form.label :email_address, class: "block font-bold mb-1" %>
      <%= form.text_field :email_address, class: "bg-gray-100 rounded-md px-1 py-2 w-full" %>
    </div>
    <div class="mt-4">
      <p><strong>Member since</strong></p>
      <div class="bg-gray-100 px-1 py-2 rounded-md mt-1 text-gray-400">
        <%= user.created_at.strftime("%B %d, %Y") %>
      </div>
    </div>
    <div class="mt-4">
      <%= form.label :about_me, class: "block font-bold mb-1" %>
      <%= form.text_area :about_me, class: "bg-gray-100 rounded-md px-1 py-2 min-h-50 w-full" %>
    </div>
    <div class="flex gap-4 mt-4">
      <button type="button" data-action="edit-profile#hideEditForm" class="bg-gray-300 px-2 py-1 inline-block rounded-md">Cancel</button>
      <%= form.submit "Confirm", class: "bg-green-300 inline-block px-2 py-1 rounded-md cursor-pointer" %>
    </div>
  <% end %>
</div>
