<%= link_to user, data: { turbo_frame: "_top" } do %>
  <div class="p-4 rounded-md border shadow-xs border-gray-200 bg-white space-y-3 mb-4 hover:bg-slate-50 cursor-pointer transition duration-200">
    <div class="flex justify-between items-center mb-4 border-slate-300 px-1">
      <h2 class="text-2xl font-semibold text-slate-800">
        <%= truncate(user.username, length: 30) %>
      </h2>
      <div class="flex items-center gap-1 text-slate-600">
        <i class="bi bi-geo-alt-fill"></i>
        <span><%= user.city.name %></span>
      </div>
    </div>
    <div class="flex gap-8 text-sm text-slate-700">
      <p><strong>Tasks completed</strong> <%= user.reviews.count %></p>
      <p><strong>Average rating</strong> <%= user.average_rating&.round(1) || 0.0 %></p>
      <p><strong>Average price  </strong> <%= user.average_price&.round(1) || 0.0 %></p>
    </div>
    <p class="text-sm font-medium text-slate-700 mb-1">Skills:</p>
    <% if user.skills.any? %>
      <div>
        <div class="flex flex-wrap gap-2">
          <% user.skills.each do |skill| %>
            <span class="flex items-center gap-1 bg-amber-100 border border-amber-200 text-gray-800 font-medium text-xs px-2 py-1 rounded-full">
              <%= image_tag "task_categories/#{skill.name.downcase.gsub(" ", "_")}.png", size: 16 %>
              <%= skill.name %>
            </span>
          <% end %>
        </div>
      </div>
    <% else %>
      <p class="text-sm text-slate-500">No skills selected</p>
    <% end %>
  </div>
<% end %>