<% content_for :title, "TinkerPal - Tinkers" %>
<div class="flex justify-between gap-30">
  <%# ---------- Tinkers --------- %>
  <div class="flex-3">
    <h1 class="font-bold text-2xl border-slate-600 mb-4">Tinkers</h1>
    <%= turbo_frame_tag "tinkers" do %>
      <% if @users.count > 0 %>
        <% @users.each do |user| %>
          <%= render "user_card", user: user %>
        <% end %>
        <%== pagy_nav(@pagy) %>
      <% else %>
        <p class="font-bold text-slate-300 text-2xl">
          No tinkers matching your search criteria
        </p>
      <% end %>
    <% end %>
  </div>
  <%# ---------- Filters --------- %>
  <div class="flex-2">
    <h1 class="font-bold text-2xl border-slate-600 mb-4">Search tinkers</h1>
    <%= form_with url: users_path, method: :get do |form| %>
      <div class="mb-4">
        <div>
          <%= form.label :username, class: "block font-bold" %>
          <%= form.search_field :username, placeholder: "Search tinkers by username...", class: "flex-1 bg-gray-100 px-2 py-2 rounded-md w-full mt-1 mb-4" %>
        </div>
        <div>
          <%= form.label :city, class: "block font-bold" %>
          <div class="w-full bg-gray-100 px-2 py-2 rounded-md mt-1 mb-4">
            <%= form.select :city, ["Any"] + @cities.map { |c| c.name }, { selected: params[:city] }, class: "w-full" %>
          </div>
        </div>
        <div>
          <%= form.label :skills, class: "block font-bold" %>
          <div class="w-full bg-gray-100 px-2 py-2 rounded-md mt-1 mb-4">
            <%= form.select :skill, ["Any"] + @skills.map { |c| c.name }, { selected: params[:skill] }, class: "w-full" %>
          </div>
        </div>
        <div>
          <%= form.label :sort_by, class: "block font-bold" %>
          <div class="w-full bg-gray-100 px-2 py-2 rounded-md mt-1 mb-4">
            <%= form.select :sort_by, ["Highest rating", "Lowest rating", "Most tasks completed", "Fewest tasks completed", "Highest average price", "Lowest average price"], { selected: params[:sort_by] }, class: "w-full" %>
          </div>
        </div>
        <%= form.submit "Search", data: {turbo_frame: "tinkers"}, class: "blue-button" %>
      </div>
    <% end %>
  </div>
</div>
