<% content_for :title, "TinkerPal - Register" %>
<div class="flex gap-30">
  <div class="hidden md:block md:flex-3 md:text-left">
    <h1 class="font-extrabold text-4xl mb-4 text-slate-800">
      Welcome to TinkerPal!
    </h1>
    <p class="text-slate-600 text-lg mb-16">
      Need a hand or want to offer one? You're in the right place!
      <br>
      TinkerPal connects you with real people to get things done.
    </p>
    <%= image_tag "welcome.svg", size: 450 %>
  </div>
  <div class="flex-3">
    <h1 class="font-extrabold text-4xl mb-4 text-slate-800">
      Register
    </h1>
    <%= form_with(model: @user) do |form| %>
      <div>
        <%= form.label :username, class: "block font-bold mt-4" %>
        <%= form.text_field :username, autofocus: true, placeholder: "Enter your username", class: "bg-gray-100 rounded-md p-2 mt-1 w-full" %>
        <p class="text-red-500"><%= @user.errors.full_messages_for(:username).first %></p>
        <%= form.label :email_address, class: "block font-bold mt-4" %>
        <%= form.text_field :email_address, placeholder: "Enter your email address",  class: "bg-gray-100 rounded-md p-2 mt-1 w-full" %>
        <p class="text-red-500"><%= @user.errors.full_messages_for(:email_address).first %></p>
        <%= form.label :password, class: "block font-bold mt-4" %>
        <%= form.text_field :password, placeholder: "Enter your password",  class: "bg-gray-100 rounded-md p-2 mt-1 w-full" %>
        <p class="text-red-500"><%= @user.errors.full_messages_for(:password).first %></p>
        <%= form.label :city, class: "block font-bold mt-4" %>
        <%= form.select :city, @cities.map { |c| c.name }, {}, class: "w-full bg-gray-100 px-2 py-2.5 rounded-md mt-1" %>
        <%= form.submit "Register", class: "mt-6 p-2 inline-block rounded-md text-white bg-green-400 cursor-pointer w-full font-bold" %>
        <p class="mt-4 text-center">Already have a TinkerPal account?<br>
          <%= link_to "Log in here!", login_path, class: "underline" %>
        </p>
      <% end %>
    </div>
  </div>