<% content_for :title, "TinkerPal - Profile" %>
<div data-controller="edit-profile" class="flex justify-between gap-30">
  <%# ------------------------------Profile Details------------------------------ %>
  <div data-edit-profile-target="details" class="flex-2 gap-4 ">
    <h1 class="font-bold text-2xl border-slate-600">Profile details</h1>
    <div class="mt-4">
      <p><strong>Username</strong></p>
      <div class="bg-gray-100 px-1 py-2 rounded-md mt-1">
        <%= @user.username %>
      </div>
    </div>
    <div class="mt-4">
      <p><strong>Location</strong></p>
      <div class="bg-gray-100 px-1 py-2 rounded-md mt-1">
        <%= @user.city.name %>
      </div>
    </div>
    <div class="mt-4">
      <p><strong>Email address</strong></p>
      <div class="bg-gray-100 px-1 py-2 rounded-md mt-1">
        <%= @user.email_address %>
      </div>
    </div>
    <div class="mt-4">
      <p><strong>Member since</strong></p>
      <div class="bg-gray-100 px-1 py-2 rounded-md mt-1">
        <%= @user.created_at.strftime("%B %d, %Y") %>
      </div>
    </div>
    <div class="mt-4">
      <p><strong>About me</strong></p>
      <div class="bg-gray-100 p-2 rounded-md mt-1 min-h-50">
        <% if @user.about_me.blank? %>
          <p class="text-gray-400">Tell others about yourself...</p>
        <% else %>
          <p><%= @user.about_me %></p>
        <% end %>
      </div>
    </div>
    <button data-action="edit-profile#showEditForm" class="blue-button mt-4">Edit profile</button>
  </div>
  <%# ------------------------------Edit Profile Form------------------------------ %>
  <%= render "edit_form", user: @user, cities: @cities %>
  <%# ------------------------------My Tasks----------------------------- %>
  <div class="flex-3">
    <h1 class="font-bold text-2xl mb-4  border-slate-600">My tasks</h1>
    <div class="flex mb-4 justify-between items-center">
      <div data-controller="tab" class="flex gap-2">
        <%= link_to "Active", user_active_tasks_path(Current.user), data: {turbo_frame: "tasks", tab_target: "tab", action: "tab#select" }, class: "font-bold px-2 py-1 bg-gray-200 text-red-500 hover:bg-gray-200 hover:text-red-500 rounded-md transition duration-200" %>
        <%= link_to "Finished", user_finished_tasks_path(Current.user), data: {turbo_frame: "tasks", tab_target: "tab", action: "tab#select"}, class: "font-bold px-2 py-1 hover:bg-gray-200 hover:text-red-500 rounded-md transition duration-200" %>
      </div>
      <%= link_to "Create task", new_task_path, class: "green-button" %>
    </div>
    <%= turbo_frame_tag "tasks" do %>
      <% if @tasks.count > 0 %>
        <% @tasks.each do |task| %>
          <%= render "tasks/my_task_card", task: task %>
        <% end %>
        <%== pagy_nav(@pagy_tasks) %>
      <% else %>
        <p class="text-xl px-2 font-bold text-slate-300">You do not have any active tasks</p>
      <% end %>
    <% end %>
  </div>
  <%# ------------------------------My Work----------------------------- %>
  <div class="flex-2">
    <h1 class="font-bold text-2xl border-slate-600 mb-4">My work</h1>
    <div data-controller="tab" class="flex gap-2">
      <%= link_to "Overview", user_work_overview_path(Current.user), data: { turbo_frame: "my_work", tab_target: "tab", action: "tab#select" }, class: "font-bold bg-gray-200 text-red-500 px-2 py-1 hover:bg-gray-200 hover:text-red-500 rounded-md transition duration-200" %>
      <%= link_to "Offers", my_offers_path, data: { turbo_frame: "my_work", tab_target: "tab", action: "tab#select" }, class: "font-bold px-2 py-1 hover:bg-gray-200 hover:text-red-500 rounded-md transition duration-200" %>
    </div>
    <%= turbo_frame_tag "my_work" do %>
      <%= render "overview", tasks_completed: @tasks_completed, average_price: @average_price, average_rating: @average_rating, reviews: @reviews %>
    <% end %>
  </div>
</div>