<%= form_with model: [task, offer] do |form| %>
  <div class="mt-6">
    <%= form.label :price, class: "block font-bold mb-2" %>
    <%= form.number_field :price, step: :any, placeholder: "Price", class: "bg-gray-100 rounded-md p-2 w-fit" %>
    <p class="text-red-500"><%= offer.errors.full_messages_for(:price).first %></p>
  </div>
  <div class="flex gap-4 mt-4">
    <div>
      <%= form.label :date, class: "block font-bold mb-2" %>
      <div class="bg-gray-100 rounded-md p-2 w-fit">
        <%= form.date_select :date, order: [:day, :month, :year], use_two_digit_numbers: true, start_year: Date.today.year %>
      </div>
    </div>
    <div>
      <%= form.label :time, class: "block font-bold mb-2" %>
      <div class="bg-gray-100 rounded-md p-2 w-fit">
        <%= form.time_select :time %>
      </div>
    </div>
  </div>
  <p class="text-red-500"><%= offer.errors.full_messages_for(:date_and_time).first %></p>
</div>
<div class="mt-4" >
  <%= form.label :note, class: "block font-bold mb-2" %>
  <%= form.textarea :note, placeholder: "Write a note here...", class: "bg-gray-100 rounded-md w-full min-h-64 p-2 resize-none overflow-y-auto" %>
</div>
<%= form.hidden_field :user_id, value: Current.user.id %>
<%= form.hidden_field :task_id, value: task.id %>
<div class="flex gap-4 mt-4">
  <%# Cancel links to /profile if editing and existing offer and to /tasks/:id if making a new offer %>
  <%= link_to "Cancel", offer.id ? work_path : task, class: "bg-gray-300 text-white px-2 py-1 inline-block rounded-md" %>
  <%= form.submit class: "bg-green-400 text-white inline-block px-2 py-1 rounded-md cursor-pointer" %>
</div>
<% end %>
