<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "TinkerPal" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="mr-64 ml-64 bg-neutral-200 min-h-screen flex flex-col">
    <% if authenticated? %>
      <nav class="flex justify-between items-center border-b-2 border-slate-600 px-8 py-1 bg-slate-50 sticky top-0 z-50">
        <div class="flex-1">
          <%= link_to "TinkerPal", root_path, class: "font-bold text-3xl text-red-500" %>
        </div>
        <div class="flex flex-2 justify-center gap-10">
          <%= link_to "Tinkers", users_path, class: "#{request.path.start_with?('/users') ? 'active-nav-item' : 'nav-item'}" %>
          <%= link_to "Tasks", tasks_path, class: "#{request.path.start_with?('/tasks') || request.path == '/' ? 'active-nav-item' : 'nav-item'}" %>
          <%= link_to "Profile", profile_path, class: "#{request.path.start_with?('/profile') ? 'active-nav-item' : 'nav-item'}" %>
        </div>
        <div class="flex flex-1 justify-end">
          <%= button_to "Log out", session_path, method: :delete, class: "gray-button", data: { turbo_confirm: "Are you sure you want to log out?"} %>
        </div>
      </div>
    </nav>
  <% end %>
  <main class="px-8 py-8 flex-1 bg-white">
    <%= yield %>
  </main>
  <%# <footer class="border-t-2 border-slate-600 px-8 py-1 bg-slate-50">
    <p class="text-center">TinkerPal</p>
  </footer> %>
</body>
</html>
