<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "TinkerPal" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="mr-64 ml-64 bg-blue-300">
    <% if authenticated? %>
      <nav class="flex justify-between items-center border-b-3 px-6 py-1 bg-slate-100 rounded-b-sm sticky top-0 z-50 box-content">
        <div>
          <h1 class="font-bold text-3xl text-red-500">TinkerPal</h1>
        </div>
        <div class="flex gap-10">
          <%= link_to "Tinkers", users_path %>
          <%= link_to "Tasks", tasks_path%>
          <%= link_to "Profile", profile_path %>
        </div>
        <div class="flex gap-4 items-center">
          <p class="text-sm">Logged in as <strong><%= Current.user.username %></strong></p>
          <%= button_to "Log out", session_path, method: :delete, class: "bg-gray-300 p-1 pr-2 pl-2 rounded-md cursor-pointer" %>
        </div>
      </div>
    </nav>
  <% end %>
  <main class="px-6 py-8 min-h-screen bg-white -mt-2">
    <%= yield %>
  </main>
</body>
</html>
